#Assignment 3

In [5]:
user_no=input("Enter Phone Number")
total_sum=0
index=0
while index<=9:
    total_sum=int(user_no[index])+total_sum
    index+=1
print(total_sum)
a=str(total_sum)
b=(int(a[0])+int(a[1]))
print(b)
c=str(b)
if len(c)==2:
    d=(int(c[0])+int(c[1]))
    print(d)
    print('Done')
elif len(c)==1:
    print('Done')

Enter Phone Number 9766973745

63
9
Done

In [7]:
num_terms=20
a,b=0,1
print(a,b,end=' ')
while num_terms>2:
    a,b=b,a+b
    print(b,end=' ')
    num_terms-=1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [1]:
user_phone_no=input('Enter the phone_number')
total_sum=0
i=0
for i in range (0,10):
    total_sum=(int(user_phone_no[i]))+total_sum
print(total_sum)
a=str(total_sum)
b=(int(a[0])+int(a[1]))
print(b)
c=str(b)
if len(c)==1:
    print('Done')
elif len(c)==2:
    print(int(c[0])+int(c[1]))

Enter the phone_number 9766973745

63
9
Done

In [52]:
type(d)

int

In [84]:
x=1
p=1
while x<=5:
    i=int(input("Enter the number"))
    p=p*i
    x+=1
print(p)

Enter the number 2
Enter the number 2
Enter the number 2
Enter the number 2
Enter the number 2

32

In [86]:
s={'A':'Virat','B':'Kolhe'}
i=1
for i in s.values():
    print(i)

Virat
Kolhe

In [118]:
a=[1,2,3,4,5,6,7,8,9,10]
i=1
l=[]
l2=[]
for i in a:
    if i%2==0:
        l.append(i)
    elif i%2!=0:
        l2.append(i)


b=0
sum=0
for i in l:
    sum=sum+i
print(sum)

30

In [114]:
d=str(l)
d[]

','

In [134]:
a='Lorem'
rev_str=''
for i in a[::-1]:
    rev_str+=i
print(rev_str)

meroL

In [1]:
a=eval(input('Enter the number'))
for i in range(1,11):
    print(f'{a}X{i}={a*i}')

Enter the number 5

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [5]:
a=['pratik','pradhum','patil','lorem']
for i in a:
    if (i[0]=='p'):
        print(f'welcome {i} Greeting')

welcome pratik Greeting
welcome pradhum Greeting
welcome patil Greeting

In [11]:
a=eval(input('Enter the number'))
i=1
while i<=10:
    print(f'{a}X{i}={a*i}')
    i+=1

Enter the number 199.99

199.99X1=199.99
199.99X2=399.98
199.99X3=599.97
199.99X4=799.96
199.99X5=999.95
199.99X6=1199.94
199.99X7=1399.93
199.99X8=1599.92
199.99X9=1799.91
199.99X10=1999.9

In [8]:
a = int(input("Enter the number"))
prime = True
for i in range(2,a):
        if (a%i==0):
            prime=False
            break
if prime:
    print('The Number is prime')
else:
    print('The Number is Not prime')

Enter the number 47

The Number is prime

In [12]:
n=int(input('Enter the Number'))
i=1
sum=0
while(i<=n):
    sum=((n)*(n+1)/2)
    i+=1
print(sum)

Enter the Number 100

5050.0

In [ ]:
a=int(input('Enter the Number'))
i=a-i
factorial=0
while(a>i):
    factorial=(a*(i))
print(factorial)

In [61]:
num=int(input('Enter the number'))
factorial=1

for i in range(1,num+1):
    factorial=factorial*i
    print(factorial,i)

Enter the number 5

1 1
2 2
6 3
24 4
120 5

In [59]:
num=int(input('Enter the number'))
factorial=1
i = 1
while i <= num:
    factorial=factorial*i
    i = i+1
print(factorial)

Enter the number 5

120

In [79]:
n=3
for i in range(3):
    print(' ' * (n-i-1),end='')
    print('*' * (2*i+1),end='')
    print(' ' * (n-i-1))

  *
 ***
*****

In [37]:
for i in range(4):
    print('*' * (i),end='')
    print()

*
**
***

In [40]:
num_rows=3
for i in range(num_rows):
    print(' '*(num_rows-i-1),end='')
    print('*'*(2*i+1))

  *
 ***
*****

In [82]:
n=3
for i in range(3):
    print('*'*(n),end='')
    print(' '*(
    print()

SyntaxError: incomplete input (2494135057.py, line 5)

In [81]:
num_rows=3
for i in range(3):
    if i==0 or i==num_rows-1:
        print("*"*num_rows)
    else:
        print('*'+' '*(1)+'*')

***
* *
***

In [4]:
n=int(input("Enter the number"))
i=10
for j in range(i):
    print(f'{n}X{i}={n*i}')
    i=i-1

Enter the number 5

5X10=50
5X9=45
5X8=40
5X7=35
5X6=30
5X5=25
5X4=20
5X3=15
5X2=10
5X1=5

In [5]:

user_phone_no=input('Enter the phone_number')
total_sum=0
i=0
if len(user_phone_no)<10:
    print('Invalid No plzz Enter 10 digit number')
elif len(user_phone_no)==10:
    for i in range (0,10):
        total_sum=(int(user_phone_no[i]))+total_sum
a=str(total_sum)
if len(a)>0:
    print(a)
else:
    print("-")
if len(user_phone_no)==10:
    b=(int(a[0])+int(a[1]))
    print(b)
    d=str(b)
    if len(d)==2:
        print(int(d[0])+int(d[1]))

Enter the phone_number 75

Invalid No plzz Enter 10 digit number
0

In [69]:
print(a)

63

In [79]:
print(total_sum)

48

In [51]:
a=input("Enter a string")
for i in range(len(a)):
    if a==(a[::-1]):
        b='Palindrome'
    else:
        c='Not a Palindrome'

Enter a string nitin

In [93]:
a=input("Enter a string")
#for i in range(len(a)):
if a==(a[::-1]):
    print('Palindrome')
else:
    print('Not a Palindrome')

Enter a string A man a plan a canal Panama

Not a Palindrome

x=1
s=0
while x<=5:
    a=input('Enter the number')
    s=(a)+s
    x+=1

print(s)

In [118]:
x=1 
s=0 
while x<=5: 
    a=input('Enter the number') 
    s=(int(a))+s 
    x+=1

print(s)

Enter the number 50
Enter the number 100
Enter the number 50
Enter the number 100
Enter the number 100

400

In [125]:
volume_name='python'
for character in volume_name:
    print(character)

p
y
t
h
o
n

In [126]:
a=[1,2,3,4]
print(max(a))

4

In [92]:
a='Gitesh'
b=''
#for b in range(len(a)):
b=(a[::-1])


print(a)
print(b)

Gitesh
hsetiG

str

In [156]:
a='BACA'
a=sorted(a)
a
a[::-1]

['C', 'B', 'A', 'A']

In [167]:
a='Helloaass'
b=""
for i in a:
    if i not in b:
        b=b+i
print(b)

Heloas

In [26]:
l1 = [2,4,3]
l2 = [5,6,4]

In [18]:
l1

[3, 4, 2]

In [19]:
s1=""
for i in l1:
    print(i)
    s1=str(i)+s1

3
4
2

In [20]:
s1

'243'

In [21]:
s2=""
for i in l2:
    #print(i)
    s2=str(i)+s2

In [22]:
s2

'564'

In [23]:
s1=s1[::-1]
s2=s2[::-1]

In [24]:
s1,s2

('342', '465')

In [25]:
int(s1)+int(s2)

807

In [38]:
b=''
d=''
a=[1,2,3]
c=[4,5,6]
for i in a:
    b=str(i)+b
print(b)
for j in c:
    d=str(j)+d
print(d)


int(b)+int(d)

321
654

975

In [48]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in number_list:
    if i<=50:
        number_list.pop()
print(number_list)

[10, 20, 30, 40, 50]

In [57]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
exist={}
duplicates=[]

for x in sample_list:
    if x not in exist:
        exist[x]=1
    else:
        duplicates.append(x)
print(duplicates)

[20, 30, 60]

In [56]:
sample_list.count(20)

2

1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5

In [125]:
n=5
for i in range(1,6):
    a = str(i)*n
    for j in a:
        print(j, end = ' ')
    print()
    n = n-1

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [127]:
n=5
for i in range(1,6):
    a=str(i)*5
    for j in a:
        print(j,end=' ')
    print()
    n=n-1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [7]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [23]:
emp_dict['company']['employee']['payable']['increment']

12

In [218]:
##### num_times=int(input('Enter the input number of times'))
total=0
for i in range(num_times):
    num=int(input('Enter the number'))
    total=num+total

print(total)

Enter the input number of times 5
Enter the number 5
Enter the number 5
Enter the number 5
Enter the number 5
Enter the number 5

25

In [5]:
l=[4,5,6,7,8,9,10,12,13,14]

sum_even=0
sum_odd=0
for i in l:
    if i%2==0:
        sum_even+=i
    else:
        sum_odd+=i

print(sum_even)
print(sum_odd)

54
34

In [20]:
n=eval(input('Enter the number'))
for i in range(5,15):
    print(f"{n}X{i}={n*i}")

Enter the number 5.4

5.4X5=27.0
5.4X6=32.400000000000006
5.4X7=37.800000000000004
5.4X8=43.2
5.4X9=48.6
5.4X10=54.0
5.4X11=59.400000000000006
5.4X12=64.80000000000001
5.4X13=70.2
5.4X14=75.60000000000001

In [25]:
l=[1,2,3,4]
for i in l:
    print(i)
    if i==3:
        break

1
2
3

In [34]:
sum=0
for i in range(100):
    v=int(input('Enter the value'))
    sum+=v
    if sum>50:
        break
    

print(sum)

Enter the value 5
Enter the value 5
Enter the value 5
Enter the value 41

56

In [63]:
height=int(input('Enter the number'))
for i in range(1,height+1):
    print('*'*i)

Enter the number 15

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [55]:
height = int(input("Enter the height of the triangle: "))

for i in range(1, height + 1):
    print('*' * i)

Enter the height of the triangle:  10

*
**
***
****
*****
******
*******
********
*********
**********

In [86]:
n=5
for i in range(n,0,-1):
    print('*'*i)

*****
****
***
**
*

In [87]:
n=5
for i in range(0,n+1):
    print('*'*i)

*
**
***
****
*****

In [91]:
n=5
for i in range(1,n+1):
    print(' '*(n-i)+'*'*(2*i-1))

    *
   ***
  *****
 *******
*********

In [147]:
number=int(input('Enter the number'))
for i in range(3,number):
    if (number%i)==0:
        print('Not a Prime Number')
        break
else:
    print('Prime Number')

Enter the number 14

Not a Prime Number

In [158]:
a=[3,4,8]
sum=0
average=0
for i in a:
    sum+=i
    

print(sum/len(a))

5.0

In [7]:
n=5
factorail=1
for i in range (1,n+1):
    factorail=factorail*i
    
print(factorail)

120

In [31]:
num_terms=10
a,b=0,1
print(a, end=" ")
print(b, end=" ")
for i in range(2,num_terms):
    next_term=a+b
    print(next_term,end=' ')
    a,b=b,next_term

0 1 1 2 3 5 8 13 21 34

In [48]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
        }
        }
    }
}

In [62]:
dict={
    'marks':{
'Harry':37.2,
'Berry':37.21,
'Tina': 37.2,
'Akriti':41,
'Harsh':39
    }
}
marks=list(set(dict['marks'].values()))
sorted_marks=sorted(marks)

In [76]:
second_lowest_grade=sorted_marks[0]
print(second_lowest_grade)

37.2

In [80]:
for name,mark in dict['marks'].items():
    if mark==second_lowest_grade:
        print(f"{name}:{mark}")

Harry:37.2
Tina:37.2

In [77]:
sorted_marks

[37.2, 37.21, 39, 41]

In [84]:
dict['marks']['Harsh']

39

In [103]:
for table_value in range(1,50):
    for multiplier in range(1,30):
        answer=table_value*multiplier
        print(answer,end=' ')
    print()
else:
    print('The loop is over')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87
4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100 104 108 112 116
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145
6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150 156 162 168 174
7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203
8 16 24 32 40 48 56 64 72 80 88 96 104 112 120 128 136 144 152 160 168 176 184 192 200 208 216 224 232
9 18 27 36 45 54 63 72 81 90 99 108 117 126 135 144 153 162 171 180 189 198 207 216 225 234 243 252 261
10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290
11 22 33 44 55 66 77 88 99 110 121 132 143 154 165 176 187 198 209 220 231 242 253 264 275 286 297 308 319
12 24 36 48 60 72 84 96 108 120 132 144 156 168 180 192 204 216 228 240 252 264 276 288 300 312 324 336 348
13 26 39 52 65 78 91 104 117 130 143 156 169 182 195 208 221 234 247 260 273 286 299 312 325 338 351 364 377
14 28 42 56 70 84 98 112 126 140 154 168 182 196 210 224 238 252 266 280 294 308 322 336 350 364 378 392 406
15 30 45 60 75 90 105 120 135 150 165 180 195 210 225 240 255 270 285 300 315 330 345 360 375 390 405 420 435
16 32 48 64 80 96 112 128 144 160 176 192 208 224 240 256 272 288 304 320 336 352 368 384 400 416 432 448 464
17 34 51 68 85 102 119 136 153 170 187 204 221 238 255 272 289 306 323 340 357 374 391 408 425 442 459 476 493
18 36 54 72 90 108 126 144 162 180 198 216 234 252 270 288 306 324 342 360 378 396 414 432 450 468 486 504 522
19 38 57 76 95 114 133 152 171 190 209 228 247 266 285 304 323 342 361 380 399 418 437 456 475 494 513 532 551
20 40 60 80 100 120 140 160 180 200 220 240 260 280 300 320 340 360 380 400 420 440 460 480 500 520 540 560 580
21 42 63 84 105 126 147 168 189 210 231 252 273 294 315 336 357 378 399 420 441 462 483 504 525 546 567 588 609
22 44 66 88 110 132 154 176 198 220 242 264 286 308 330 352 374 396 418 440 462 484 506 528 550 572 594 616 638
23 46 69 92 115 138 161 184 207 230 253 276 299 322 345 368 391 414 437 460 483 506 529 552 575 598 621 644 667
24 48 72 96 120 144 168 192 216 240 264 288 312 336 360 384 408 432 456 480 504 528 552 576 600 624 648 672 696
25 50 75 100 125 150 175 200 225 250 275 300 325 350 375 400 425 450 475 500 525 550 575 600 625 650 675 700 725
26 52 78 104 130 156 182 208 234 260 286 312 338 364 390 416 442 468 494 520 546 572 598 624 650 676 702 728 754
27 54 81 108 135 162 189 216 243 270 297 324 351 378 405 432 459 486 513 540 567 594 621 648 675 702 729 756 783
28 56 84 112 140 168 196 224 252 280 308 336 364 392 420 448 476 504 532 560 588 616 644 672 700 728 756 784 812
29 58 87 116 145 174 203 232 261 290 319 348 377 406 435 464 493 522 551 580 609 638 667 696 725 754 783 812 841
30 60 90 120 150 180 210 240 270 300 330 360 390 420 450 480 510 540 570 600 630 660 690 720 750 780 810 840 870
31 62 93 124 155 186 217 248 279 310 341 372 403 434 465 496 527 558 589 620 651 682 713 744 775 806 837 868 899
32 64 96 128 160 192 224 256 288 320 352 384 416 448 480 512 544 576 608 640 672 704 736 768 800 832 864 896 928
33 66 99 132 165 198 231 264 297 330 363 396 429 462 495 528 561 594 627 660 693 726 759 792 825 858 891 924 957
34 68 102 136 170 204 238 272 306 340 374 408 442 476 510 544 578 612 646 680 714 748 782 816 850 884 918 952 986
35 70 105 140 175 210 245 280 315 350 385 420 455 490 525 560 595 630 665 700 735 770 805 840 875 910 945 980 1015
36 72 108 144 180 216 252 288 324 360 396 432 468 504 540 576 612 648 684 720 756 792 828 864 900 936 972 1008 1044
37 74 111 148 185 222 259 296 333 370 407 444 481 518 555 592 629 666 703 740 777 814 851 888 925 962 999 1036 1073
38 76 114 152 190 228 266 304 342 380 418 456 494 532 570 608 646 684 722 760 798 836 874 912 950 988 1026 1064 1102
39 78 117 156 195 234 273 312 351 390 429 468 507 546 585 624 663 702 741 780 819 858 897 936 975 1014 1053 1092 1131
40 80 120 160 200 240 280 320 360 400 440 480 520 560 600 640 680 720 760 800 840 880 920 960 1000 1040 1080 1120 1160
41 82 123 164 205 246 287 328 369 410 451 492 533 574 615 656 697 738 779 820 861 902 943 984 1025 1066 1107 1148 1189
42 84 126 168 210 252 294 336 378 420 462 504 546 588 630 672 714 756 798 840 882 924 966 1008 1050 1092 1134 1176 1218
43 86 129 172 215 258 301 344 387 430 473 516 559 602 645 688 731 774 817 860 903 946 989 1032 1075 1118 1161 1204 1247
44 88 132 176 220 264 308 352 396 440 484 528 572 616 660 704 748 792 836 880 924 968 1012 1056 1100 1144 1188 1232 1276
45 90 135 180 225 270 315 360 405 450 495 540 585 630 675 720 765 810 855 900 945 990 1035 1080 1125 1170 1215 1260 1305
46 92 138 184 230 276 322 368 414 460 506 552 598 644 690 736 782 828 874 920 966 1012 1058 1104 1150 1196 1242 1288 1334
47 94 141 188 235 282 329 376 423 470 517 564 611 658 705 752 799 846 893 940 987 1034 1081 1128 1175 1222 1269 1316 1363
48 96 144 192 240 288 336 384 432 480 528 576 624 672 720 768 816 864 912 960 1008 1056 1104 1152 1200 1248 1296 1344 1392
49 98 147 196 245 294 343 392 441 490 539 588 637 686 735 784 833 882 931 980 1029 1078 1127 1176 1225 1274 1323 1372 1421
The loop is over

In [117]:
a=str(input('Enter the string'))
b=a.replace(' ','').lower()
if b==b[::-1]:
    print('Palindrome')
else:
    print('Not a Palindrome')

Enter the string A man a plan a canal Panama

Palindrome

In [125]:
a='A man a plan a canal Panama'
print(a.replace('man','student'))

A student a plan a canal Panama

In [127]:
a='A man a plan a canal Panama'
b='Lan'
if b in a:
    print('Substring')
else:
    print('Not a substring')

Not a substring

In [130]:
a='A man a plan a canal Panama'
b='plan'
c=a.find(b)
print(c)

8

In [133]:
a='A man a plan a canal Panama'
b=a.split('plan')

In [134]:
print(b)

['A man a ', ' a canal Panama']

In [139]:
a=[]
b=[]
for i in range(1,21):
    if i%2==0:
        a.append(i)
    elif i%2!=0:
        b.append(i)
print(a)
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [146]:
no=int(input('Enter the number'))
factorial=1
for i in range(1,no+1):
    factorial=i*factorial
print(factorial)

Enter the number 4

24

In [153]:
sum=0
for i in range(1,11):
    sum+=(i*i)

In [154]:
print(sum)

385

In [163]:
a=[1,2,3,4,5]
b=[]
for i in a[::-1]:
    b.append(i)
print(b)

[5, 4, 3, 2, 1]

In [209]:
for i in range(1):
    print('*'*3)
    print('*','*')
    print("*"*3)

***
* *
***

In [1]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [10]:
for i in [14,18,20]:
    for j in range(10,12):
        print(i,j)

14 10
14 11
18 10
18 11
20 10
20 11