In [ ]:
y= float(input("Enter the Number: "))
if y>90:
    print("Grade A")
elif y>70:
    print("Grade B")
elif y<=70:
    print('Grade F')

In [ ]:
a=int(input("Enter the number"))
b=int(input("Enter the number"))
if a>b:
    print("A is greater than B")
elif b>a:
    print("B is greater than A")
elif a==b:
    print("Both numbers are equal")

In [1]:
pin_number=2580
bank_balance=10000
lang=int(input("Plz Select the language 1:English 2:Hindi"))
if lang==1:
    pass
elif lang==2:
    print("Kindly Select English")
    
    #print("English")

pin_no=int(input("Enter your Pin number")) 
if pin_number==pin_no:
    print("Enter 1 for withdrawal \nEnter 2 for balance check")
    a=int(input("Enter the number"))
    if a==1:
        print("Enter the amount to withdraw")
        b=int(input('Amount'))
        if (b>bank_balance):
            print("Insufficient amount")
        else:
            print("your amount has been Withdrawn Successfully")      
    elif a==2:
        print(f"your account balance is {bank_balance}")
elif pin_number!=pin_no:
    print("Plzz enter valid pin number")
print(f'Account Balance {bank_balance-b}')

Plz Select the language 1:English 2:Hindi 1
Enter your Pin number 2580

Enter 1 for withdrawal
Enter 2 for balance check

Enter the number 1

Enter the amount to withdraw

Amount 2000

your amount has been Withdrawn Successfully
Account Balance 8000

In [10]:
user_weight = float(input("Enter your weight in kgs-"))
user_height=input("Type F-feet/M-meters for Height")
if user_height=='F':
    userh_feet=float(input("Enter the height in Feet"))
    userh_inch=float(input("Enter the height in Inches"))
    total_meters= (userh_feet*0.3048)+(userh_inch*0.0254)
    Bmi=(user_weight/(total_meters**2))
    print(f'Your Bmi {Bmi}')
elif user_height=='M':
    userh_meters=float(input("Enter the height in Meters"))
    Bmi=(user_weight/(userh_meters**2))
    print(f'Your Bmi- {Bmi}')
if Bmi<18.5:
    print("You are Underweight")
elif Bmi>=18.5 and Bmi<25:
    print("You are Normal")
elif Bmi>=25 and Bmi<30:
    print("You are overweight")
elif Bmi>30:
    print('You are very-overweight')

Enter your weight in kgs- 70
Type F-feet/M-meters for Height F
Enter the height in Feet 10
Enter the height in Inches 1

Your Bmi 7.410710812132642
You are Underweight

In [ ]:
def max_of_three(a,b,c):
    if a>=b:
        if a>=c:
            return a
    elif b>=c:
        if b>=a:
            return b
    elif c>=a:
        if c>=b:
            return c

a=max_of_three(10,2,3)
print(a)

In [ ]:
a=30
b=20
c=10
print(max(a,b,c))

In [ ]:
a = str(input('Enter the String- '))
a=a.lower()
if a[:]==a[::-1]:
    print(True)
else:
    print(False)

In [3]:
def is_leap_year(a):
    if a%4==0:
        return True
    else:
        return False


a = is_leap_year(2012)

In [4]:
for i in range (1,101):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3==0:
        print('Fizz')
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [5]:

user_input=int(input('1 for farenheit \n2 for celsius'))
if user_input==1:
    b=float(input("Enter the temperature"))
    print('Temperature in celsius',(b-32)/1.8)
elif user_input==2:
    c=float(input("Enter the temperature"))
    print((c*1.8)+32)

1 for farenheit
2 for celsius 1
Enter the temperature 200

Temperature in celsius 93.33333333333333

In [6]:
a=str(input("Enter string 1"))
b=str(input("Enter string 2"))
a=a.lower()
b=b.lower()
c=sorted(a)
d=sorted(b)

if c==d:
    print("Strings are Anagram")
else:
    print("Strings are not anogram")

Enter string 1 nitin
Enter string 2 gitesh

Strings are not anogram

In [7]:
def replace_character(string,ch1,ch2):
    string_list=list(string)
    for i in range(len(string_list)):
        if string_list[i]==ch1:
            string_list[i]=ch2
        elif string_list[i]==ch2:
            string_list[i]=ch1    

    return ''.join(string_list)

original_str='apples'
ch1='a'
ch2='p'
result_str=replace_character(original_str,ch1,ch2)
print(result_str)

paales

In [9]:
def is_leap_year(a):
    if a%4==0:
        return True
    else:
        return False


a = is_leap_year(2012)
print(a)

True

In [2]:
a = {1, 2, 3}
b = {6, 4, 5}
c = a - b
print(c)

{1, 2, 3}

In [10]:
add_numbers=lambda a,b:a+b
add_numbers(3,3)

6

In [11]:

add=lambda x,y:x+y
add(5,5)

10